<h1>Welcome <%=@user.username%></h1>
<h1>Deposit Funds</h1>
<h2>Your Balance is $<%=@user.balance%></h2>
<form action="/deposit" method="post">
  <h4><input type="integer" name="deposit_amount"></h4>
  <p><input type="submit" value="Deposit"></p>
</form>

<p><a href="/account">My Account</a> | <a href="/withdraw">Withdraw Funds</a> | <a href="/logout">Log Out</a></p>
