<h1>Dear <%=@user.username%></h1>

<h2>You don't have enough funds on the account to complete this transaction.</h2>
<h3>Your Balance is $<%=@user.balance%></h3>

<p><a href="/withdraw">Withdraw Funds</a> | <a href="/deposit">Deposit Funds</a> | <a href="/logout">Log Out</a></p>
